<main class='container-fluid p-3 d-flex justify-content-center align-items-center' style='height: 100vh;'>
    <div class='card border-primary' style='width: 100%; height: 100%;'>
        <div class='card-body card-body-grid'>
            <ul class='list-group' id='listUsers'> </ul>

            <div class='card border-gray' id='msg'> </div>

            <div class='card border-info' id='box'>
                <div class='card-body'>
                    <div class='input-group'>
                        <input id='message' type='text' class='form-control' aria-label='Text input with dropdown button' />
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>