<main class='container'>
    <div class='card text-dark bg-light my-3'>
        <div class='card-header'>
            <label for=''>
                Escritorio:
                <span id='lblDsk'></span>
            </label>
        </div>
        <div class='card-body'>

            <div class='row'>
                <div class='col-8 text-center'>
                    <h4>Atendiendo a</h4>
                    <div class='alert alert-info mt-2'>
                        <div class='row'>
                            <div class='col-4'>
                                UID:
                            </div>

                            <div class='col-8'>
                                <span id='lblTicketId'> X </span>
                            </div>

                            <div class='col-4'>
                                TICKET:
                            </div>

                            <div class='col-8'>
                                <span id='lblTicketNo'> X </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='col-4 text-center'>
                    <h4>En cola</h4>

                    <div class='alert alert-info mt-2'>
                        <span id='lblTicketPending'>Ya no hay más tickets</span>
                    </div>

                </div>

                <div class='col-12 d-grid gap-2'>
                    <div id='lblErrorDesktop' class='alert alert-danger text-center' role='alert'>
                        A simple danger alert—check it out!
                    </div>
                    <button class='btn btn-success' type='button'> Next ticket </button>
                </div>

            </div>

        </div>
    </div>

</main>