<main class='container'>
    <h1 class='mt-5'>Programa de Colas</h1>

    <div class='row'>
        <div class='col-6'>

            <a class='btn btn-primary' href='ticket/screen'>Pantalla publica</a>
            <a class='btn btn-secondary' href='ticket/new-ticket'>Crear Tickets</a>

        </div>

        <div class='col-6'>
            {{! <form action='escritorio.html'> }}
            <form>
                <input name='descktop' type='text' class='form-control' placeholder='Escritorio' autofocus required />
                <br />
                <button type='submit' class='btn btn-primary'>
                    Ingresar
                </button>
            </form>
        </div>
    </div>
</main>